<div id="menu-item" class="menu-item hide-menu">
            <div class="container">
                <ul>
                    <a href="/index"><li>домой</li></a>
                    <a href="/elements"><li>Инструменты</li></a>
                    <a href="/projects"><li>Проекты</li></a>
                    <a href="/reporting"><li>Отчетность</li></a>
                    <a href="/remark_journal"><li>Журнал замечаний</li></a>
                    <a href="/table_reports"><li>Табличные отчеты</li></a>
                </ul>
            </div>
        </div>