{% extends "base.html" %} {% block content %}<div class="container">
{% if is_error %}
  <h2>Ошибка: Не верно заданы даты начала и/или конца периода</h2>
{% endif %}
<form method = "post" action = "/remark_journal">
  <div class="form-group">
    <label for="startDate">Дата начало периода:</label>
    <input name="start_date" type="date" class="form-control">
    <label  for="stopDate">Дата конец периода:</label>
    <input name="stop_date"type="date" class="form-control">

  </div>
<button type = "submit" class="btn btn-default">Показать график и диаграмму</button>
</form> 




  {% if div_labels %}
  <div id="div" style="width:800px;height:300px;"></div>
  <div id="vp" style="width:800px;height:300px;"></div>
  <div id="kod" style="width:800px;height:300px;"></div>
  {% if full_remark %}
  <table>
    {% for vals in full_remark %}
      {% if loop.first %}
        <tr>
          {% for val in vals %}
            <th>{{ val }}</th>
          {% endfor %}
        </tr>
      {% else %}
        <tr>
        {% for val in vals %}
          <td>{{ val }}</td>
        {% endfor %}
      </tr>
    {% endif %}
    
    {% endfor %}
    </table>
  {% endif %}
  <script>
    DIV = document.getElementById('div');
    VP = document.getElementById('vp');
    KOD = document.getElementById('kod');

    Plotly.newPlot( DIV, [{
    x: {{div_labels|safe}},
    y: {{div_values|safe}},
    type: "bar" }], {
    margin: { t: 0 } } );

    Plotly.newPlot( VP, [{
    x: {{vp_labels|safe}},
    y: {{vp_values|safe}},
    type: "bar" }], {
    margin: { t: 0 } } );

    Plotly.newPlot( KOD, [{
    x: {{kod_labels|safe}},
    y: {{kod_values|safe}},
    type: "bar" }], {
    margin: { t: 0 } } );

  </script>
  {% endif %}


</div>
  {% endblock content %}
