*
!*/
!*.*

*.txt
*.lnk
.idea
*.qss
__pycache__
*.pyc
*.xlsx
*.docx
*.png
*.html
*.svg
Setup.py
drag
get-pip.py
1c
1с/*
icons/*
data/*
css/*

.log
.pickle
notes*
*.pickle
*.db
*.vbs
*.bat

venv
venv_setup
dist
build

*.spec
*.sql
mini_git.py
!/Setup/mini_git.py