<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />

    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <httpPlatform processPath="C:\srv_mes\srv_mes\python\python.exe" arguments="-m uvicorn web_app_main:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT% --ws wsproto --ws-per-message-deflate false --log-level info" startupTimeLimit="60" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" />
        <staticContent>
            <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
        </staticContent>

  </system.webServer>
</configuration>