<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Users\A.A.Fedorov\MES\py\python.exe|C:\Users\A.A.Fedorov\MES\py\Scripts\wfastcgi.exe"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <httpErrors errorMode="Detailed"/>
%     <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="REMOTE_USER" value="true"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
