<style>
    .instruments-menu-container {
        display: flex;
        width: 100%;
    }

    .instruments-menu {
        width: 25%;
        background-color: #f0f0f0;
        padding: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .instruments-description {
        width: 75%;
        padding: 10px;
        background-color: #e0e0e0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 24px;
    }

    .instruments-menu-item {
        background-color: #e6e6e6;
        padding: 5px;
        cursor: pointer;
        font-size: 24px;
    }

    .instruments-menu-item:hover {
	    background-color: #51c2b9;
	    color: #fff;

        text-decoration: none;
    }
    .instruments-menu-item > a {
	    color: black;
    }

</style>

<div class="instruments-menu-container vira-card-section mt80">
    <div class="instruments-menu" id="menu">
        {% for item in INSTRUMENTS_MENU %}
            <div class="instruments-menu-item" data-description="{{ item.Описание }}">
                <a href="{{ item.Ссылка }}">{{ item.Наименование }}</a>
            </div>
            <br>
        {% endfor %}
    </div>
    <div class="instruments-description" id="description"></div>
</div>

<script>
    const menuItems = [
        {% for item in INSTRUMENTS_MENU %}
            {name: '{{ item.Наименование }}', description: '{{ item.Описание }}'},
        {% endfor %}
    ];

    const description = document.getElementById('description');

    document.querySelectorAll('.instruments-menu-item').forEach((item, index) => {
        item.addEventListener('mouseenter', () => {
            item.classList.add('blockquote')
            description.textContent = menuItems[index].description;
        });
        item.addEventListener('mouseleave', () => {
            description.textContent = '';
            item.classList.remove('blockquote')

        });
    });
</script>